* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Aca van los estilos del header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}



.head {
    display: flex;
    justify-content: flex-start;
    margin-left: 4pc;
}

.image-container {
    background-color: #fff;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    border-radius: 30%;

}

.img {
    width: 100%;
    height: 100%;
}

.title {
    color: #fff;
    font-size: 24px;
    margin-right: 4px;
}

.subtitle {
    font-size: 32px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.link:hover {
    color:
        #4C5FD5;
}

p {
    color: #fff;
    font-size: 24px;
    margin-right: 4px;
}

.btn1 {
    background-color: #191a1b;
    border: 1px solid #fff;
    font-size: 22px;
    border-radius: 8px;
    color: #fff;
    width: 15pc;
    height: 3pc;
}

.btn2 {
    background-color: #4C5FD5;
    color: #fff;
    font-size: 22px;
    border: none;
    width: 8pc;
    height: 3pc;
    border-radius: 4px;

}

.submit-btn {
    margin-right: 4pc;
}

/* Aca van los estilos del main */

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first {
    background-color: #dadbf1;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5pc;
}

.buscar {
    display: flex;
    justify-content: center;

}

.buscar input {
    border: 1px solid #000;
    width: 50pc;
    height: 3.8pc;
    padding-left: 10px;
    border-radius: 4px;
}

.buscar input:hover {
    border: 1px solid #4C5FD5;

}


svg {
    position: relative;
    top: 14px;
    right: 30px;
    width: 26px;
    height: 20px;
}

.buscar input:hover .svg {
    cursor: pointer;
    fill: #4C5FD5;
}

/* Aca van los estilos de la informacion */

.second {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 10pc 0 10p
}



.tarjetas {
    display: flex;
    justify-content: center;
    padding: 40px;

}


.img-container {
    width: 90px;
    height: 90px;
    margin-right: 40px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.information {
    text-align: left;
}

.info {
    width: 17pc;
    font-size: 20px;
    color: #000;
    margin-top: 14px;
    margin-bottom: 14px;
}

.sub-title {
    font-size: 20px;
    font-weight: 900;
}



.learnM a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.learnM a:hover {
    text-decoration: underline;
}




.third {
    display: flex;
    height: 70vh;
    background-color: #000;

}

.containerLinks {
    display: flex;
    margin: 3pc 0 0 5pc;
}

.abstract {
    display: flex;
    flex-direction: column;
    margin-right: 4pc;
}

.abstract ul {
    list-style: none;
}

.abstract a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}

.abstract a:hover {
    text-decoration: underline;
}

.abstract h4 {
    margin-bottom: 1pc;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
}

.copyright {
    margin-left: 2pc;
    margin-top: 12pc;
}

.copyright .image-container {
    margin-bottom: 10px;
}

.contactU {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    margin-top: 2pc;
}

.letrasC .copy {
    font-size: 18px;
}

/* Estilos del boton fixed */

.btn-fixed {
    background-color: #4C5FD5;
    right: 1pc;
    bottom: 1pc;
    color: #fff;
    font-size: 22px;
    border: none;
    width: 8pc;
    height: 3pc;
    border-radius: 30px;
    position: fixed;
    cursor: pointer;
}